img {
    float: left;
    width: 30%;
    margin: 1.66%;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    margin-left: 1.6%;
    font-weight: 800;
    border-bottom: 1px solid grey;
    width: 30%;
    padding-bottom: 20px;    
    padding-top: 20px;
}